{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-object-rest-spread",
    "graphql-tag"
  ]
}
