{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                "node": "current"
            },
            "debug": false
        }
    ],
         "@babel/preset-react"],
         "plugins": [
             "@babel/proposal-class-properties",
             "@babel/proposal-object-rest-spread"
         ]
}